export(distQueryCheck)
export(geocode)
export(geocodeQueryCheck)
export(geom_leg)
export(get_googlemap)
export(get_openstreetmap)
export(get_stamenmap)
export(ggimage)
export(gglocator)
export(ggmap)
export(ggmapplot)
export(legs2route)
export(mapdist)
export(OSM_scale_lookup)
export(qmap)
export(revgeocode)
export(route)
export(routeQueryCheck)
export(theme_inset)
export(theme_nothing)
import(grid)
import(plyr)
import(png)
import(proto)
import(reshape2)
import(RgoogleMaps)
import(rjson)
import(scales)
